@page
@model Rooms.Create

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @Html.FormBlock(m => m.Data.Name)
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
