@page "{id:int}"
@model Rooms.Details

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <display-label-tag For="Data.Name" />
        </dt>
        <dd>
            <display-tag for="Data.Name" />
        </dd>
        <dt>
            <display-label-tag For="Data.Items" />
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                @for (var i = 0; i < Model.Data.Items.Count; i++)
                {
                    <tr>
                        <td>
                            <display-tag for="Data.Items[i].Name" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <display-tag for="Data.Items[i].Value" />
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
